.card_container {
  background: linear-gradient(to bottom right, #7847ff, #e37acc);
  width: 100%;
  margin: 0 auto;

  h1 {
    color: white;
    padding-top: 30px;
    padding-left: 40px;
  }

  h2 {
    color: white;
    padding-left: 40px;
    font-size: 1.2em;
  }

  .infos_card {
    margin: 20px auto;
    background-color: white;
    width: 95%;
    height: 95%;
    border-radius: 3px;

    .picture_card {
      height: 150px;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
      }
    }
    .description_card {
      h3 {
        text-align: end;
        color: #6200ee;
        padding-right: 10px;
        padding-top: 10px;
        font-size: 1em;
      }

      h4 {
        padding-left: 15px;
      }

      p {
        padding: 0 15px;
        font-size: 0.8em;
      }
    }

    .horaires_nursery {
      background: linear-gradient(to bottom right, #e0e3ff, #f3e4ff);
      width: 100%;
      height: 80px;

      ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        li {
          list-style: none;
          font-size: 1em;
        }
      }
    }
    .disponibility_nursery {
    }
  }
}
