* {
  font-family: "nunito", sans-serif;
}
.flex-inscription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.div-form-parent {
  display: flex;
  flex-direction: column;
}
.form-parent {
  margin: 5vw 2vw;
}
.button-children {
  background-image: url("./src/assets/background-profil.svg");
  background-size: cover;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 1vw 2vw;
  margin-left: 1vw;
}
.link-children {
  color: white;
}
