* {
  font-family: "nunito", sans-serif;
}
.flex-inscription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-bottom: 100px;
}
.div-form-parent {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.form-parent {
  margin: 5vw 2vw;
}
.button-children {
  background: linear-gradient(to bottom right, #7847ff, #e37acc);
  background-size: cover;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 1vw 2vw;
  margin-left: 1vw;
}
