.profilResa_container {
  background-color: #f7f6fe;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;

  .choisen_profil {
    background: linear-gradient(to bottom right, #7847ff, #e37acc);
    height: 100px;
    display: flex;
    box-shadow: 3px 3px 3px rgb(187, 187, 187);

    .arrowBack {
      margin-top: 70%;
      margin-left: 20px;
      width: 80%;
    }

    .picture_profil {
      width: 70px;
      height: 70px;
      margin-top: 10px;
      border-radius: 100%;
      margin-left: 20px;

      img {
        height: 100%;
        width: 100%;
        border: 1px solid #5121ff;
        border-radius: 100%;
      }
    }

    .title_Myresa {
      h1 {
        color: white;
        font-size: 1.4em;
        margin-left: 20px;
        padding-top: 15px;
        font-weight: bold;
      }

      h2 {
        color: #cccbd2;
        margin-left: 20px;
        font-size: 1.1em;
        font-weight: bold;
      }
    }
  }

  .myResa_container {
    height: 630px;

    h1 {
      margin-left: 60px;
      margin-top: 30px;
      font-size: 2em;
    }

    .card_myresa {
      background: linear-gradient(to bottom right, #e0e3ff, #f3e4ff);
      height: 100px;
      width: 90%;
      margin: 30px auto;
      border-radius: 5px;
      box-shadow: 2px 3px 2px grey;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
      padding: 5px;
      color: #7847ff;

      &:hover {
        background: #e37acc;
      }

      .img_structure {
        height: 90%;
        margin: 5px;
        max-width: 180px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 1px;
        }
      }

      .title_resa {
        align-self: center;
        width: 30%;
        margin-top: 20px;

        h2 {
          font-weight: bold;
          font-size: 1em;
        }
      }

      .date_resa {
        align-self: center;
        width: 20%;
        margin-right: 5px;

        h3 {
          font-weight: bold;
          font-size: 1em;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .profilResa_container {
    .myResa_container {
      height: 830px;

      h1 {
        text-align: center;
        margin-top: 30px;
        font-size: 2em;
      }
      .card_myresa {
        height: 130px;
        width: 90%;
        margin: 30px auto;
        border-radius: 5px;
        box-shadow: 2px 3px 2px grey;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        padding: 5px;
        color: white;
      }
    }
  }
}
