.reservation_container {
  background: linear-gradient(to bottom right, #7847ff, #e37acc);
  width: 100%;
  margin: 0 auto;
  height: 105vh;

  .header-nursery {
    display: flex;
    padding-top: 30px;

    a {
      display: flex;
      align-items: center;
      padding-left: 15px;
    }

    h1 {
      color: white;
      padding-left: 10px;
      font-weight: bold;
    }
  }

  .card_reservation {
    margin: 20px auto;
    background-color: white;
    width: 95%;
    height: 85vh;
    border-radius: 3px;

    .picture_card {
      width: 100%;

      img {
        width: 70%;
        margin: 0 auto;
        padding-top: 10px;
        display: flex;
      }
    }

    h2 {
      padding-left: 20px;
      padding-top: 15px;
      text-align: center;
      font-weight: bold;
    }
    h3 {
      text-align: center;
    }

    .time_resa {
      width: 90%;
      margin-top: 20px;

      ul {
        list-style: none;

        li {
          color: #7847ff;
          margin: 15px;
          font-weight: bold;

          h4 {
            font-size: 1em;
          }
        }
      }
      button {
        padding-right: 10px;
        color: #6200ee;
      }
    }

    .bottom_resa {
      text-align: center;
      margin: 30px 0;

      .btn_next {
        border: none;
        background-color: #6200ee;
        color: white;
        width: 150px;
        height: 40px;
        font-size: 1.4em;
        border-radius: 5px;
        font-weight: bold;
        border: 1px solid #f8a56f;
      }
    }
  }
  .tarif_perso {
    color: white;
    padding-bottom: 20px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .reservation_container {
    .card_reservation {
      .picture_card {
        width: 60%;
        margin: 0 auto;

        img {
          width: 70%;
          margin: 0 auto;
          padding-top: 10px;
          display: flex;
        }
      }
    }
  }
}
