* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fifty {
  display: flex;
  flex-direction: row;

  .step1 {
    width: 50%;
    .nameInput {
      display: flex;
      flex-direction: column;
      input {
        width: 80%;
        height: 40px;
        border-radius: 10px;
        padding: 15px;
      }

      label {
        transform: translateY(6px) translateX(10px);
        font-weight: 600;
        color: #9696a0;
      }
    }
  }

  .greyBg {
    width: 50%;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    margin-left: 30px;

    .infoRegisterCard {
      padding: 20px;
      background-color: #fff;
      margin: 10px;
      box-shadow: -3px 3px 3px rgba(75, 93, 104, 0.1);
    }
  }
}
