* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.step2 {
  .fileUpload {
    display: flex;
    margin: 0 auto;

    .filebtn {
      display: flex;
      margin: 0 auto;
      background: #9c69e2;
    }
  }

  .btn-primary {
    background-color: #9c69e2;
  }

  .btn {
    background: #9c69e2;

    &:focus {
      box-shadow: none !important;
    }
  }

  .pageContent {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .format {
      text-align: center;
    }

    .second-validation {
      display: flex;
      margin: 0 auto;

      .text-area {
        width: 500px !important;

        .legend {
          font-size: 15px;
          text-align: end;

          span {
            color: #9c69e2;
            font-weight: 800;
          }
        }
      }
    }
  }

  @media (max-width: 800px) {
    .pageContent {
      .second-validation {
        .text-area {
          width: 300px !important;
        }
      }
    }
  }

  @media (max-width: 500px) {
    width: 100%;

    .fileUpload {
      display: flex;
      margin: 0 auto;

      .filebtn {
        display: flex;
        margin: 0 auto;
      }
    }
  }
}
