* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.step7 {
  .btn {
    background: #9c69e2;

    &:focus {
      box-shadow: none !important;
    }
  }

  .switchRules {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
  }
  @media (max-width: 500px) {
    width: 100%;

    .switchRules {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px 0px;
      line-height: 21px;
    }
  }
}
