* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.step3 {
  .employees {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

    .modify-employee {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .needs-validation {
    display: flex;
    flex-direction: column;

    .form-outline {
      width: 200px;
    }
  }

  .employee-card {
    display: flex;
    flex-direction: column;
  }

  .fileUpload {
    display: flex;
    margin: 10px auto;
  }

  .thirdInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .delete {
    margin: 0px auto;
    background: #9c69e2;

    &:hover {
      background: #9c69e2;
      box-shadow: none !important;
    }
  }

  .add-employee {
    margin-bottom: 10px;
  }

  .btn {
    background: #9c69e2;

    &:focus {
      box-shadow: none !important;
    }
  }
  // .btn {
  //   display: flex;
  //   margin: 0 auto;
  //   background: #9c69e2;

  //   &:focus {
  //     box-shadow: none !important;
  //   }
  // }

  @media (max-width: 500px) {
    width: 100%;

    .thirdInputContainer {
      display: flex;
      margin: 0 auto;
    }
  }
}
