* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.step3 {
  width: 50%;

  .fileUpload {
    display: flex;
    margin: 0 auto;
  }

  .thirdInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn {
    display: flex;
    margin: 0 auto;
  }

  @media (max-width: 500px) {
    width: 100%;

    .thirdInputContainer {
      display: flex;
      margin: 0 auto;
    }
  }
}
