/* * body {
  background: linear-gradient(to bottom right, #e0e3ff, #f3e4ff);
} */

* .filters {
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 400px;
  display: flex;
  justify-content: space-around;
}

.sideNav_container {
  background-color: #7847ff;
  .sideMenu {
    color: white;
    .logo {
      margin: 0 auto;
      padding-top: 20px;
      img {
        width: 500px;
        margin: 10px;
        padding-right: 300px;
      }
    }
  }
  .scrollbar-container {
    background: linear-gradient(to bottom right, #7847ff, #e37acc);
  }
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
}
.badge {
  margin-top: 15px;
}
