/* * body {
  background: linear-gradient(to bottom right, #e0e3ff, #f3e4ff);
} */
.header-dash {
  display: flex;
  flex-direction: column;

  h3 {
    color: white;
    display: flex;
    align-self: center;
    margin-top: 20px;
    font-weight: bolder;
    background: linear-gradient(to bottom right, #7847ff, #e37acc);
    padding: 5px 60px;
    border-radius: 30px;
  }
  .filters {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
  }

  .btn-tous {
    background-color: rgb(150, 150, 201);
    color: white;
  }

  .btn-attente {
    background-color: #dcbc5e; /* Couleur pour "En attente" */
    color: white;
  }

  .btn-accepte {
    background-color: #5ace75; /* Couleur pour "Accepté" */
    color: white;
  }

  .btn-refuse {
    background-color: #aa3e49; /* Couleur pour "Refusé" */
    color: white;
  }
}
.titreInfos {
  background: linear-gradient(to bottom right, #7847ff, #e37acc);

  th {
    color: white;
  }
}

.sideNav_container {
  background-color: #7847ff;
  .sideMenu {
    color: white;
    .logo {
      margin: 0 auto;
      padding-top: 20px;
      img {
        width: 500px;
        margin: 10px;
        padding-right: 300px;
      }

      h4 {
        color: white;
        text-align: center;
        border: 1px solid white;
        border-radius: 20px;
        margin: 0 30px;
      }
    }
  }
  .scrollbar-container {
    background: linear-gradient(to bottom right, #7847ff, #e37acc);
  }
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
}
.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 20px;
}

.btn {
  color: white;
}

.titreInfos {
  color: #9c69e2;
  font-size: 1.2em;
}
