* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.containerPro {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  flex-direction: column;
  max-width: 1350px;
  box-shadow: 0px 0px 20px 7px rgba(75, 93, 104, 0.1);
}
.div-visuel {
  display: flex;
  justify-content: center;
  position: relative;
}

.text {
  font-family: "Adamina", serif;
  font-size: 4vw;
  text-align: center;
  justify-content: center;
}
.info-text {
  font-family: "Adamina", serif;
  font-size: 2vw;
}
.grid {
  display: flex;
  justify-content: center;
}

.visuel-simple {
  width: 80%;
  margin: 3vh;
}

.div-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 40vw;
  top: 5vh;
  right: 14vw;
}
.text-overlay {
  align-items: center;
  justify-content: center;
  font-size: 6px;
}
h4.text-overlay {
  font-weight: 600;
}
.titre-overlay {
  top: -5vw;
  font-size: 11px;
}
.text-svg {
  position: absolute;
  top: 3px;
  left: 15%;
  margin-left: 20%;
  width: 13%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Adamina", serif;
  font-size: 1.1vw;
}

.div-visuel p {
  margin-top: 15px;
}
.one {
  left: 15%;
  top: -8.5%;
}
.two {
  left: 43%;
  top: -8.5%;
}
.four {
  left: 44%;
}
.contents {
  display: contents;
  position: relative;
}
.image-one {
  // background-image: url(./src/assets/proAgenda.svg);
  width: 100%;
  height: 35vh;
}
.image-two {
  // background-image: url(./src/assets/proAlerte.svg);
  width: 100%;
  height: 35vh;
}
.image-three {
  // background-image: url(./src/assets/proMarketing.svg);
  width: 100%;
  height: 35vh;
}
.image-four {
  // background-image: url(./src/assets/proCom.svg);
  width: 100%;
  height: 35vh;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  align-content: space-around;
}

.grid-item {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  padding: 0 65px 0 157px;
  width: 90%;
  font-size: 6px;
  h3 {
    font-size: 12px;
  }
  p {
    font-size: 7px;
  }
}

.image {
  height: 23vh;
  margin-top: 15px;
}

@media (min-width: 376px) {
  .overlay {
    padding: 0 42px 0 167px;
  }
  .div-overlay {
    max-width: 44vw;
    top: 5vh;
    right: 11vw;
  }
  p.text-overlay {
    font-size: 8px;
  }
  .overlay h3 {
    font-size: 19px;
  }
  .overlay p {
    font-size: 10px;
  }
  h3.titre-overlay {
    font-size: 11px;
  }
}
@media (max-width: 1023px) {
  .div-visuel p {
    margin-top: 0px;
  }
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (min-width: 760px) {
  h4.text-overlay {
    font-size: 20px;
  }
  p.text-overlay {
    font-size: 15px;
  }
  .overlay p {
    font-size: 14px;
    padding: 0 148px 0 152px;
  }
}
@media (min-width: 1023px) {
  .div-overlay {
    max-width: 44vw;
    top: 14vh;
    right: 12vw;
  }
  h4.text-overlay {
    font-size: 24px;
  }
  p.text-overlay {
    font-size: 19px;
  }
  .overlay p {
    font-size: 14px;
    padding: 0 0 0 0;
  }
  .image {
    height: 300px;
    margin-top: 15px;
  }
  .overlay {
    padding: 0 15px 0 199px;
  }
  .homeNav .homeTxtBtn {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .div-overlay {
    max-width: 40vw;
    right: 10vw;
  }
  .overlay {
    padding: 0 75px 0 254px;
  }
}
