.fileUpload {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  // background-color: red;
}

.file-upload-preview-img {
  border-radius: 50%;
}

.stepContent {
  padding: 0px;
}

.submitForm {
  .btn {
    background: #9c69e2;
  }
}
