@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Adamina&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 85%;
  height: 40vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  h1 {
    line-height: 35px;
    font-family: "Adamina", serif;
  }

  button {
    width: 200px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5px;
    border-radius: 50px;
    background-color: #9805c5c7;
    color: #f2f2f2;
    border: none;
    font-family: "Adamina", serif;

    span {
      font-size: 20px;
      transition: 0.3s all ease-in-out;
    }

    &:hover span {
      transform: translateX(2px) scale(1.1);
    }
  }
}

@media screen and (min-width: 750px) {
  .header {
    align-items: start;
    h1 {
      line-height: 40px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    height: 60vh;
    gap: 60px;
    h1 {
      line-height: 50px;
    }

    button {
      width: 230px;
    }
  }
}
