@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Adamina&display=swap");

.homeNav {
  background-color: white;
  width: 100%;
  padding-top: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  box-shadow: #9d69e2 0px -1px 9px 0px;
  padding-bottom: 10px;

  img {
    width: 80px;
  }

  button {
    border: none;
    cursor: pointer;
  }

  .homeTxtBtn {
    background-color: transparent;
    transition: 0.3s ease-in-out;
    font-weight: 550;
    font-size: 11px;
    min-height: 30px;
    min-width: 70px;
    display: inline-block;
    font-family: "Abril Fatface", serif;
    color: rgb(79, 79, 79);
    transition: 0.3s ease-in-out;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid rgb(79, 79, 79);
    }
  }

  .connectBtn {
    width: 110px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid transparent;
    border-radius: 50px;
    background-color: white;
    color: #9805c5c7;
    margin: 0 auto;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: 0.3s ease-in-out;
    line-height: 15px;

    .purpleBtn {
      color: #9805c5c7;
      font-family: "Adamina", serif;
    }

    div {
      font-size: 11px;

      span {
        font-size: 7px;
      }
    }
    .arrow {
      font-size: 15px;
      transition: 0.3s all ease-in-out;
    }
  }

  .connectBtn:hover {
    border: 1px solid #9805c5c7;

    &:hover span {
      transform: translateX(2px) scale(1);
    }
  }
}

@media screen and (min-width: 330px) {
  .homeNav .homeTxtBtn {
    font-size: 9px;
  }
  .homeNav .connectBtn {
    width: 84px;
    height: 20px;
    line-height: 10px;
  }
}

@media screen and (min-width: 750px) {
  .homeNav {
    width: 100%;
    display: flex;
    justify-content: space-around;

    img {
      width: 120px;
    }

    .homeTxtBtn {
      font-size: 15px;
    }

    .connectBtn {
      height: 50px;
      width: 200px;
      margin: 0;
      padding: 0;
      font-size: 12px;
      line-height: 20px;

      div {
        font-size: 18px;

        span {
          font-size: 14px;
        }
      }

      .arrow {
        font-size: 20px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .homeNav {
    width: 100%;
    display: flex;
    justify-content: space-around;

    img {
      width: 150px;
    }

    .homeTxtBtn {
      font-size: 20px;
    }

    .connectBtn {
      width: 200px;
      margin: 0;
      font-size: 20px;

      .arrow {
        font-size: 25px;
      }
    }
  }
}
