.confirmation_container {
  background: linear-gradient(to bottom right, #7847ff, #e37acc);
  width: 100%;
  margin: 0 auto;
  height: 100vh;

  .picturelogo {
    padding-top: 40%;
    text-align: center;

    img {
      width: 80px;
    }
  }

  h1 {
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 2.6em;
    font-weight: bold;
  }

  p {
    color: white;
    text-align: center;
    font-size: 1.3em;
    margin: 20px 20px;
  }

  h2 {
    color: white;
    text-align: center;
    font-size: 1.4em;
    margin-top: 50px;
    font-weight: bold;
  }

  h3 {
    text-align: center;
    background-color: #2ecd7a;
    color: white;
    width: 40%;
    height: 60px;
    line-height: 60px;
    border-radius: 5px;
    margin: 20px auto;
  }

  .refused {
    text-align: center;
    background-color: rgb(204, 55, 45);
    color: white;
    width: 40%;
    height: 60px;
    line-height: 60px;
    border-radius: 5px;
    margin: 20px auto;
  }

  button {
    width: 150px;
    height: 40px;
    border: none;
    background-color: #6200ee;
    color: white;
    font-size: 1.4em;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2em;
    margin: 20px auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.402);
  }
}

@media (min-width: 768px) {
  .confirmation_container {
    .picturelogo {
      padding-top: 10%;
      text-align: center;

      img {
        width: 80px;
      }
    }
    h3 {
      text-align: center;
      background-color: #2ecd7a;
      color: white;
      width: 20%;
      height: 40px;
      line-height: 40px;
      border-radius: 5px;
      margin: 20px auto;
    }
  }
}
