.background-header-profile {
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header-profil {
  display: flex;
  flex-direction: row;

  a {
    display: flex;
    align-self: center;
    img {
      width: 30px;
    }
  }

  .name-inscription {
    .inscription-titre {
      color: white;
      font-weight: bold;
      font-size: 3vh;
    }
  }
}
.bouton-div {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 0.5vh;
}
.color-button {
  background-repeat: no-repeat;
  background-size: contain;
  width: 20vw;
  max-width: 115px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

@media screen and (min-width: 750px) {
  .inscription-sous-titre {
    font-size: 2vh;
  }
}
@media screen and (min-width: 1000px) {
  .inscription-titre {
    font-size: 6vh;
  }
}
@media screen and (min-width: 1200px) {
}
