.login_container {
  width: 100%;
  display: flex;
  height: 700px;

  .left_part {
    background-color: red;
    width: 40%;
    height: 100%;
    background-image: url(./src/assets/loginBackground.svg);

    h2 {
      color: white;
      font-size: 1.7em;
      margin-top: 70px;
      margin-left: 50px;
    }
  }
  .right_part {
    width: 60%;

    h4 {
      color: black;
      text-align: end;
      margin-right: 20px;
      margin-top: 20px;
      font-size: 1em;
    }

    h3 {
      margin-left: 130px;
      margin-top: 100px;
    }

    ul {
      margin-left: 100px;
      margin-top: 60px;
      list-style: none;

      li {
        margin-top: 10px;

        input {
          width: 400px;
          height: 40px;

          ::placeholder {
            color: red;
          }
        }
      }
    }

    button {
      margin-left: 132px;
      border-radius: 5px;
      width: 400px;
      background-color: #9c69e2;
      margin-top: 60px;
      color: white;
      border: none;
    }
  }
}
